@import '../../style/_variables'
    
.to-do-list
    &__item
        display: flex
        justify-content: space-between
        align-items: center
        column-gap: 30px
        padding: 15px 0
        &:not(:first-child)
            border-top: 1px solid $littleBoyBlue
    &__button
        width: 30px
        height: 30px
        transition: transform 0.2s
        will-change: transform
        @media (min-width: 992px)
            &:hover
                transform: scale(1.1)
            &:active
                opacity: 0.5
        &-img
            max-width: 100%
            max-height: 100%