@import '../../style/_variables'
    
.to-do-list
    &__item
        padding: 15px 0
        &:not(:first-child)
            border-top: 1px solid $littleBoyBlue
    &__description
        font-weight: 500
        font-size: 24px
        line-height: 36px