@import '../../style/_variables'
    
.form
    display: flex
    justify-content: space-between
    column-gap: 50px
    align-items: center
    &__input
        padding: 5px 15px
        width: 100%
        background-color: $mediumChampagne
        outline-color: $deepSpaceSparkle
        border-top: none
        border-left: none
        border-right: none
        border-bottom: none
        border-radius: 5px
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2)
        &::placeholder
            font-style: italic
            color: $deepSpaceSparkle
            opacity: 0.7
        